:root
{
    --head: rgb(156, 197, 250);
    --content: rgb(250, 156, 206);
    --backblue: rgb(209, 215, 243);
}

html , body
{
    height: 100%;
    background-color: var(--backblue);
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header
{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    background-color: var(--content);
    border-radius: 2rem;
    padding: 2rem;
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    z-index: 2;
}
#header h2
{
    margin-right: auto;
}
#header h2 button
{
    font-size:x-large;
    font-style: bold;
}


#header button
{
    background-color: var(--content);
    border: var(--content);
}
#header button:hover
{
    color:white;
}

#header>div img
{
    color: white;
}

#content
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#content>div
{

    background-color: var(--head);
    text-align: center;
    border-radius: 2rem;
    padding-top: 5px;
}
#content .insidecontent , #content .pluckcard
{
    height: 300px;
    width: 500px;
}



#aboutme>img
{
    border-radius: 4rem;
}
#content #schedule
{
    margin-top: 1rem;
}
#content #schedule button:hover
{
    color:white;
}


#content #schedule fieldset
{
    border-color:  var(--head);
}
.pluckcard
{
    position: absolute;
}

#schedule button
{
    background-color:  var(--head);
    border: var(--head);
}


.pluckcard .header
{
    margin: 1rem;   
}

#content .pluckcard .content
{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}